services:
  auth-service-dev:
    container_name: auth-service-dev
    restart: unless-stopped
    build:
      context: .
      target: dev
      args:
        PORT: ${PORT:-3000}
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgres://postgres:password@auth-db:5432/auth_db"
      REDIS_URL: "redis://auth-redis:6379"
    command: sh -c "npx prisma generate && npm run start:dev"
    volumes: 
      - ./src:/usr/src/app/src
    depends_on:
      - auth-db
      - auth-redis
  auth-db:
    container_name: auth-db
    image: postgres:16.2
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    volumes:
      - ./postgres:/var/lib/postgresql/data
  auth-redis:
    container_name: auth-redis
    image: redis:7.2
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
volumes:
  redis_data: